spring.application.name=ms-comp-user
server.port=${PORT:8001}

#DATASOURCE
spring.datasource.url=jdbc:postgresql://${DB_HOST:localhost:5432}/${DB_NAME:db-comp-user}
spring.datasource.username=${DB_USER:postgres}
spring.datasource.password=${DB_PASSWORD:admin}
spring.datasource.driver-class-name=org.postgresql.Driver

#JPA
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQL10Dialect
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
logging.level.org.hibernate.SQL=debug
logging.file.path=/app/logs
#URL MICROSERVICE USER
#ms.course.url=${MS_COMP_COURSE:localhost:8002/course}
spring.cloud.kubernetes.secrets.enable-api=true
spring.cloud.kubernetes.discovery.all-namespaces=true